link(href='/designdaydreams.css', rel='stylesheet')
img(src="https://cdn1-www.dogtime.com/assets/uploads/gallery/pug-dog-breed-pictures/2-face.jpg",id="content")
script(type='text/javascript').
	function poll(){
		const Http=new XMLHttpRequest();
		const url='https://pathways-imgserver.herokuapp.com/poll';
		Http.open('POST',url);
		Http.setRequestHeader('Content-Type', 'application/json');
		Http.send(JSON.stringify({'deviceId':window.deviceId}));
		Http.onreadystatechange=function(){
			//- if (this.status === 200){
			if(this.readyState==4 && this.status==200){
			console.log(Http.responseText);
			var imageContent = document.getElementById('content');
			var decodedContentURL = decodeURIComponent(Http.responseText);
			var decodedImageContentURL = decodeURIComponent(imageContent.src);
			if (!(decodedContentURL.localeCompare(decodedImageContentURL)==0)){
				imageContent.src=decodedContentURL;
				console.log(imageContent);
			};
			window.setTimeout(poll, 500);
			};
		};
	};
	function deviceIdGenerator() {
		return Math.random().toString(36).substr(2,16);
	};

	function setCookie(key, value) {
		document.cookie = encodeURIComponent(String(key)) + "=" + encodeURIComponent(String(value)) + ";path=/";
	}

	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}

	if(getCookie("id")!==null){
		window.deviceId = getCookie("id");
	} else {
		const idVal = deviceIdGenerator();
		setCookie("id", idVal);
		window.deviceId = idVal;
	}
	
	var Http=new XMLHttpRequest();
	var url='https://pathways-imgserver.herokuapp.com/deviceRegistration';
	Http.open('POST',url);
	Http.setRequestHeader('Content-Type', 'application/json');
	Http.send(JSON.stringify({'deviceId':window.deviceId}));
	Http.onreadystatechange=function(){
		if(this.readyState==4 && this.status==200){
		console.log('response text', Http.responseText);
		window.setTimeout(poll, 0);
		};
	};
	console.log('device id', deviceId);